<header class="header">
  <input class="side-menu" type="checkbox" id="side-menu"/>

  <div class="navbar">
    <a href="/" class="logo">
      <img class="logo-img" src="/img/logo.png">
      <span class="logo-text">ULE</span>
    </a>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  </div>

  <nav class="nav">
    <ul type="none" class="menu">
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Blog</a> </li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
</header>